<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "job.jpg" %>
	</div>

	<div id="content">
        <h1>Hello there, My Name is Job</h1>
        <p>
            I am a tech enthuthiast and a footbal fan i have no kids nor a wife,
            i mostly use C# to build Windows Mobile and Windows Desktop app,
            C# is my favorite language and i can't get enough of it.
            That's all for now.See you in my posts.
        </p>
	</div>
</div>
